div.responsiveBox{
    max-width: 100%;
    min-height: 1px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

div.tab{
    width: 45%;
    margin: auto;
}

div.box{
    width: 90%;
    margin: 1rem;
}

div.entry, div.display{
    display: grid;
    width: 90%;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    margin: 10px auto;
    margin-inline-start: 10px;
}

@media only screen and (max-width: 600px) {
    div.responsiveBox{
        flex-direction: column;
    }
}