

div.tab{
    width: auto;
    margin: auto;
}


div.entry, div.display{
    display: grid;
    width: 90%;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    margin: 10px auto;
    margin-inline-start: 0px;
}

@media only screen and (max-width: 600px) {
    div.responsiveBox{
        flex-direction: column;
    }
}